body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	// .popup__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .popup__content
	&__content {
		visibility: hidden;
		transform: scale(0);
		transition: transform 0.3s ease 0s;
		background-color: $Gravition;
		padding: rem(40);
		@include adaptiveValue("padding-left", 40, 20);
		@include adaptiveValue("padding-right", 40, 20);
		width: 100%;
		max-width: 800px;
		border-radius: 0;
		color: $White;

		.lock & {
			visibility: visible;
		}
	}

	// .popup__title
	&__title {
		@include adaptiveValue("font-size", 40, 28);
		line-height: 120%;
		text-align: center;
		color: $White;
		margin-bottom: rem(40);
	}

	// .popup__close
	&__close {
		position: absolute;
		right: rem(20);
		top: rem(20);
		outline: 0;
	}

	// .popup__text
	&__text {
	}

	// .popup__video
	&__video {
		position: relative;
		padding-bottom: 80%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&_video {
		.popup__content {
			padding-top: rem(52);
			padding-bottom: rem(52);
			background-color: transparent;
			max-width: rem(1280);

			@media (max-width:$mobileSmall){
				 padding-left: 0;
				 padding-right: 0; 
			}
		}

		.popup__close {
			@media (max-width:$mobileSmall){
				 right: 0; 
			}
		}
	}

	&_show {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;

		.popup__content {
			visibility: visible;
			transform: scale(1);
		}
	}
}

.file-item {
	// .file-item_upload
	&_upload {
	}
	// .file-item__wrapper
	&__wrapper {
	}
	// .file-item__upload
	&__upload {
	}
}
