// Заголовки, общие БЄМ блоки и проче...
.d {
   &-none {
      display: none;
   }
   &-block {
      display: block;
   }
   &-grid {
      display: grid;
   }
   &-flex {
      display: flex;
   }
}

.justify {
   // .justify-content-end
   &-content-end {
      justify-content: flex-end;
   }

   // .justify-content-start
   &-content-start {
      justify-content: flex-start;
   }

   // .justify-content-center
   &-content-center {
      justify-content: center;
   }

   // .justify-items-start
   &-items-start {
      justify-items: flex-start;
   }

   // .justify-items-end
   &-items-end {
      justify-items: flex-end;
   }

   // .justify-items-center
   &-items-center {
      justify-items: center;
   }
}

.align {
   // .align-items-start
   &-items-start {
      align-items: flex-start;
   }
   // .align-items-center
   &-items-center {
      align-items: center;
   }
   // .align-items-end
   &-items-end {
      align-items: flex-end;
   }
}

.p {
   &t {
      // .pt-0
      &-0 {
         padding-top: 0;
      }
      // .pt-1
      &-1 {
         padding-top: 0.25rem;
      }
      // .pt-2
      &-2 {
         padding-top: 0.5rem;
      }
      // .pt-3
      &-3 {
         padding-top: 1rem;
      }
      // .pt-4
      &-4 {
         padding-top: 1.5rem;
      }
      // .pt-5
      &-5 {
         padding-top: 3rem;
      }
      // .pt-6
      &-6 {
         padding-top: 4.5rem;
      }
   }
   &b {
      // .pb-0
      &-0 {
         padding-bottom: 0;
      }
      // .pb-1
      &-1 {
         padding-bottom: 0.25rem;
      }
      // .pb-2
      &-2 {
         padding-bottom: 0.5rem;
      }
      // .pb-3
      &-3 {
         padding-bottom: 1rem;
      }
      // .pb-4
      &-4 {
         padding-bottom: 1.5rem;
      }
      // .pb-5
      &-5 {
         padding-bottom: 3rem;
      }
      // .pb-6
      &-6 {
         padding-bottom: 4.5rem;
      }
   }
}

.m {
   &t {
      // .mt-0
      &-0 {
         margin-top: 0;
      }
      // .mt-1
      &-1 {
         margin-top: 0.25rem;
      }
      // .mt-2
      &-2 {
         margin-top: 0.5rem;
      }
      // .mt-3
      &-3 {
         margin-top: 1rem;
      }
      // .mt-4
      &-4 {
         margin-top: 1.5rem;
      }
      // .mt-5
      &-5 {
         margin-top: 3rem;
      }
      // .mt-6
      &-6 {
         margin-top: 4.5rem;
      }
   }
   &b {
      // .mb-0
      &-0 {
         margin-bottom: 0;
      }
      // .mb-1
      &-1 {
         margin-bottom: 0.25rem;
      }
      // .mb-2
      &-2 {
         margin-bottom: 0.5rem;
      }
      // .mb-3
      &-3 {
         margin-bottom: 1rem;
      }
      // .mb-4
      &-4 {
         margin-bottom: 1.5rem;
      }
      // .mb-5
      &-5 {
         margin-bottom: 3rem;
      }
      // .mb-6
      &-6 {
         margin-bottom: 4.5rem;
      }
   }
}

section {
   @include adaptiveValue("padding-top", 100, 40);
   @include adaptiveValue("padding-bottom", 100, 40);

   &:first-child {
      @include adaptiveValue("padding-top", 50, 16);
   }
}

h,
.title-h {
   &1 {
      font-weight: 300;
      @include adaptiveValue("font-size", 60, 40);
   }

   &2 {
      font-weight: 300;
      @include adaptiveValue("font-size", 60, 40);
   }

   &3 {
      font-weight: 300;
      @include adaptiveValue("font-size", 40, 36);
   }
}

[data-gallery] > img,
[data-gallery] > picture {
   cursor: pointer;
}

[data-src],
[data-popup-youtube] {
   cursor: pointer;
}

img,
video {
   display: block;
   max-width: 100%;
   height: auto;
}

._content {
   & > * {
      margin-top: rem(16);
      margin-bottom: rem(16);
   }

   a {
      text-decoration: underline from-font;
      text-underline-offset: 3px;
      transition: $transition ease text-decoration 0s;

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline transparent from-font;
         }
      }
   }

   p {
      min-height: rem(1);
   }

   ol {
      counter-reset: item;

      li {
         position: relative;
         @include adaptiveValue("padding-left", 40, 24);
         list-style-type: none;

         &::before {
            content: counter(item) ".";
            counter-increment: item;
            position: absolute;
            left: 0;
         }

         & > ol {
            counter-reset: subitem;

            li {
               &::before {
                  content: counter(item) "." counters(subitem, ".") " ";
                  counter-increment: subitem;
               }
            }
         }
      }
   }

   ul {
      padding-left: rem(20);
      display: grid;
      align-content: flex-start;
      row-gap: rem(8);
      margin: rem(16) 0;

      li {
         list-style-type: disc;
      }
   }

   .table {
      width: 100%;
      overflow-x: auto;
      scrollbar-width: thin;

      table {
         width: 100%;
         border-collapse: collapse;
      }
   }

   .wp-block-quote {
      cite {
         opacity: 0.6;
      }
   }

   figure {
      img {
      }

      figcaption {
         @include adaptiveValue("font-size", 16, 12);
         line-height: math.div(24, 16);
         @include adaptiveValue("margin-top", 20, 12);
      }
   }

   @for $i from 1 through 4 {
      .columns-#{$i} {
         display: grid;
         @include adaptiveValue("gap", 35, 10);
      }
   }
   .columns-4 {
      @media (min-width: $mobileSmall) {
         grid-template-columns: repeat(4, 1fr);
      }
      @media (min-width: $mobile) {
         grid-template-columns: repeat(4, 1fr);
      }
   }
   .columns-3 {
      @media (min-width: $mobileSmall) {
         grid-template-columns: repeat(3, 1fr);
      }
   }
   .columns-2 {
      @media (min-width: $mobileSmall) {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   .wp-block-gallery {
      figure {
         margin: 0;

         @media (min-width: $mobileSmall) {
            position: relative;
            padding-bottom: 100%;

            img {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
      }
   }

   :first-child {
      margin-top: 0;
   }
   :last-child {
      margin-bottom: 0;
   }
}

._hidden {
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   opacity: 0;
   visibility: hidden;
   font-size: 0;
   line-height: 1;
}
._disabled {
   pointer-events: none;
}

.control-panel {
   position: sticky;
   @include adaptiveValue("bottom", 30, 20);
   z-index: 5;

   // .control-panel__list
   &__list {
      display: grid;
      align-content: flex-start;
      justify-content: flex-end;
      justify-items: flex-end;
      @include adaptiveValue("padding-left", 30, 20);
      @include adaptiveValue("padding-right", 30, 20);
      row-gap: rem(12);
   }

   // .control-panel__item
   &__item {
      display: flex;
      justify-content: flex-end;
      
      a {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         width: rem(44);
         height: rem(44);
         padding: rem(12);
         border-radius: 50%;
         background-color: $White;
         box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.15);
         font-size: rem(20);
         line-height: 1;
         color: $BlackNavy;
         transition: $transition ease all 0s;

         span {
            display: block;
            font-weight: 300;
            white-space: nowrap;
            font-size: rem(0);
            line-height: math.div(21 , 16);
            transition: $transition ease all 0s;
         }

         @media (any-hover: hover) {
            &:hover {
               width: 100%;
               border-radius: rem(40);

               span {
                  padding-right: rem(12);
                  font-size: rem(16);
               }
            }
         }
      }
   }
}

// swiper
